<div class="index-body">
  <h1 class="index-page-title profile-title">List of Recipes Containing <%= @food.name.capitalize %></h1>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><a href="/recipes/<%=recipe.id%>" class="user-recipe-link"><%= recipe.name %></a></li>
    <% end %>
  </ul>
</div>
