<div class="index-body">
  <h1 class="index-page-title profile-title">List of Ingredients</h1>
  <ul>
    <% @food_items.each do |food| %>
      <li><a href="ingredients/<%=food.id%>/recipes" class="user-recipe-link"><%= food.name %></a></li>
    <% end %>
  </ul>
</div>
