<div class="index-body">
  <div class="left">
    <h1 class="index-page-title">So, What's for Dinner?</h1>
    <p>
      It's an age-old question, and it's asked every night in millions of homes across the world. What's for dinner? -- A simple query frought with indecision at the end of a long day. But it doesn't have to be this way. With a bit of planning, you can plan your meals and stay organized.
    </p>
    <br>
    <p>
      Search for recipes and add them to your collection, or enter your own. Assemble menus from your favorite recipes and build shopping lists to make sure that you get everything you need.
    </p>
    <p>
    </p>
  </div>
  <div class="right">
    <img src="/images/Grilled-salmon.jpg" class="salmon">
  </div>
</div>
